<div id="index">
  <div class="container">
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg container hidden" id="new-car-index" role="document">
        <div class="modal-content">
          <%= render 'form', car: @car, client: current_user %>
        </div>
      </div>
    </div>
    <div id="new_index">
      <% @cars.each do |car| %>
      <%= render '/shared/small_car_card_client', car: car %>
      <% end %>
      <div class="center">
       <button type="button" class="button-opacity btn-modal" id="add-car-index" data-toggle="modal" data-target=".bs-example-modal-lg"><img src="<%= asset_url('add.png') %>" alt="" class="icon-small"> Add new Car</button>
    </div>
  </div>
</div>
</div>







