<div id="index">
  <div class="container">
    <%= link_to root_path do %>
    <i class="fas fa-arrow-left"></i>
    <% end %>
    <div id="new-car-index" class="container hidden">
      <%= render 'form', car: @car, client: current_user %>
    </div>
    <div id="new_index">
      <% @cars.each do |car| %>
      <%= render '/shared/small_car_card_client', car: car %>
      <% end %>
      <div class="center">
        <%= link_to "#", class: "button-opacity", id: "add-car-index" do %>
        <i class="fas fa-plus-circle"></i>
        Add New
        <% end %>
      </div>
    </div>
  </div>
</div>

