  <div class="wrapper">
    <div class="icon-box-title">
      <img src="<%= asset_url('car.png') %>" alt="" class="icon-box-title">
    </div>
    <div class="box-inline-title">
      <p>My cars</p>
    </div>  

  <div id="index">
    <div class="container">

      <%= render 'car_form_modal', car: @car, client: current_user %>

      <div id="new_index">
        <% @cars.each do |car| %>
          <%= render '/shared/small_car_card_client', car: car %>
        <% end %>

        <div class="center">
          <button type="button" class="button-opacity btn-modal" id="add-car-index" data-toggle="modal" data-target=".modal">
            <i class="fas fa-plus-circle"></i> 
            Add new Car
          </button>
        </div>
      </div>
    </div>
  </div>
</div>