<img src="https://picsum.photos/100/100" alt="">
 <p>Yay! We found a washer!</p>
<br>
<br>
<br>

 <p>
Your car will be washed
at <%= (booking.created_at + 2400000).strftime("%H:%m") %>
 </p>

<div class="button-rounded">OK</div>
