<div>
  <img src="<%= asset_url('cleancar.png') %>" alt="" class="icon-box-title">
  <hr>
  <h3> Woohoo! </h3>
<br>
<p>
  Your car is washed.
</p>
<%= link_to "OK", client_booking_path(booking.id), method: :put, class: "button-rounded button-position center" %>
</div>

