<img src="https://picsum.photos/70/70" alt="">
<p>Woohoo!</p>
<br>
<p>
  Your car is washed.
</p>

<%= link_to "OK", client_booking_path(booking.id), method: :put, class: "button-rounded button-position" %>
