<img src="https://picsum.photos/100/100" alt="">
<p>Hey you!</p>
<br>
<br>
<br>
<p>
  Your car has been washed.
</p>
<%= link_to "OK", client_booking_path(booking.id), method: :put, class: "button-rounded" %>
