  <div id='confirm-view'>
    <div>
      <ul>
        <li>
          <i class="fas fa-car"></i>
          <%= booking.car.brand.capitalize%>
          <%=booking.car.model.capitalize%> - <%= booking.car.color%>
        </li>
        <hr>
        <li>
          <i class="fas fa-map-marker-alt"></i>
          <%=booking.address.capitalize%>
        </li>
        <hr>
        <li>
          <i class="far fa-clock"></i> 40 minutes</li>
        </ul>
      </div>
      <div class="line">
        <p> TOTAL: $260 </p>
      </div>
    </div>
    <a href="#" class="button-rounded button-position" id="confirm-booking">Confirm</a>
    <div id="loading" class="hidden">
     <div class="col-md-3">
       <div class="loader2"></div>
   </div>

   <h5>We are looking for a Washer</h5>
 </div>
</div>
</div>

