<img src="https://picsum.photos/70/70" alt="">
 <p>Yay!</p>
 <br>
<% if booking.washer.first_name %>
<% washer_name = booking.washer.first_name %>
<% else %>
<% washer_name = "a washer" %>
<% end %>
 <p>
Your car will be washed by <%= washer_name %>
and will be clean by <%= (booking.created_at + 2400000).strftime("%H:%m") %>
 </p>

