<div class="wrapper">
  <div class="icon-box-title">
    <img src="<%= asset_url('cleancar.png') %>" alt="" class="icon-box-title">
  </div>
  <div class="box-inline-title">
    <p>My history washes</p>
  </div>
  <% if @client_bookings == [] %>
  <i class="far fa-frown center" style="font-size: 30px"></i>
  <p style="color: white; text-align: center">You don't have any washes yet</p>
  <% else %>
  <% @client_bookings.each do |booking| %>
  <%= render '/shared/car_card/small_history_card', booking: booking %>
  <% end %>
  <% end %>
  <%= link_to root_path, class: "button-opacity center" do %>
  <img src="<%= asset_url('add.png')%>" alt="" class="icon-small">
  New wash
  <% end %>
</div>
</div>
