<h1>Bookings#show FOR THE CLIENT</h1>
<br>
<p>Car: <%= @booking.car.name %></p>
<p>Address: <%= @booking.address %></p>
<p>Service: DELUXE </p>
<p>Time: 40 mis</p>
<P>Price: $150 </P>

<%= link_to "Home", root_path, class: "btn btn-success" %>




