<%= render '/shared/car_card' %>
<!--
<% case @booking.status %>
  <% when 'washer_pending' %>
    <p> We are looking for a washer</p>
  <% when 'washing' %>
    <p>Your cleaning is in process</p>
  <% when 'washed' %>
    <%= link_to "OK", client_booking_path(@booking.id), method: :put, class: "btn btn-success" %>
  <% when 'completed' %>
    <%= link_to "Home", root_path, class: "button-rounded" %>
<% end %>
 -->
