// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #3CB0DA;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000;
$light-gray: #F4F4F4;
$green: #5be5ae;
$green-blue: #80D0C7;
$gradient-color: #0093E9;
$gradient: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

