.container-address {
  align-items: center;
  width: 100vw;
}

#address-input-box {
  flex:1;
}

#btn-goo {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #80d0c7;
  font-size: 15px;
  background: #FFF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  width: 80%;
  text-align: center;
  margin: auto;
  margin: 10px;

}

#btn-goo:active {
  text-decoration: none;
}

#btn-goo-wrapper {
  display: flex;
  justify-content: space-around;
}

.map-home-input-empty {
  height: 94.5vh;
  width: 100%;
}

.map-home-input-filled {
  height: 85.7vh;
  width: 100%;
}

.pac-container {
	position:fixed;
	display:block;
	margin-top: -210px;
}

#address-input {
  color: #a3a1a1;
}
