<div class="wrapper-big-card">

  <div>
    <div class="button-opacity center" style="width: 350px;">
      <p style="font-size: 30px; font-weight: bold; color: white; margin: auto;"> WELCOME!</p>
    </div>
    <div style="border-radius: 5px; text-align: center; margin: 0 10%; padding:15px; width: -webkit-fill-available">
      <p style="font-size: 22px;color: white; margin: auto;">WASH CARS & EARN MONEY!</p>
      <br>
      <img src="<%= asset_url('money.png') %>" alt="" class="icon-box-title" style= "text-align: center; width: 100px;">
      <br>
      <br>
      <hr>
      <%= link_to "  Start now!  ", new_washer_profile_path, class: "button-rounded big-size"%>
    </div>
  </div>

  <br>
  <div style="margin: 3% 10%;">
    <div class="description-welcome" style="border: none; text-align: center">
      <ul style="color: white; list-style-type:none;">
        <i class="fas fa-hand-holding-usd" style="font-size: 40px; align-items: center; text-align: center;"></i>
        <li>You will earn money and be payd on time, with lots of benefits.</li>
        <hr>
        <i class="fas fa-parachute-box" style="font-size: 40px; align-items: center; text-align: center;"></i>
        <li> Feel free. to start and end your day: no fixed work schedules</li>
      </ul>
    </div>
  </div>
  </div>
</div>
