<div class="wrapper">
<div class="icon-box-title">
  <img src="<%= asset_url('cleancar.png') %>" alt="" class="icon-box-title">
</div>
<div class="box-inline-title">
  <p>Requests</p>
</div>
<div class="container">
  <% @bookings.each do |booking| %>
  <%= render '/shared/small_car_card', booking: booking, location: @location %>
  <% end %>
</div>
</div>
