.btn-top-marg {
  margin-top: 10px;
}

.center-sign {
  justify-content: center;
  display: flex;
  color: $blue;
}

#devise-back {
  background-color: linear-gradient(225deg, rgba(200,200,200,0.8), rgba(200,200,200,0.2));
}
