<div class="background-image" style="background-image: url('<%= cl_image_path booking.car.photo %>');">
  <div class="row-button">
    <div class="button-pick">
      <%= link_to "Pick Service", booking_path(booking.id) %>
    </div>
  </div>
</div>


