
<div class="container">
  <div class="background-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300');">
  </div>
  <div class="white-box">
    <p> HXS 939</p>
    </div>
    <div class="box-description">
      <div class="box-list">
        <ul>
          <li><i class="fas fa-car"></i> Honda Fit - Black</li>
          <hr>
          <li><i class="fas fa-map-marker-alt"></i> Av. Niceto Vega 7569</li>
          <hr>
          <li><i class="far fa-clock"></i></i> 40 minutes</li>
        </ul>
      </div>
      <div class="line">
        <p> DEADLINE TIME: 15.02 hs</p>
      </div>
    </div>
  </div>
</div>

