<div class="card-container">
  <div class="card-text-group">
    <div class="car-title"></div>
    <div class="car-description"></div>
  </div>
  <div class="photo-square-sm">
  </div>
</div>

card cont- display flex space between
