<%= render '/shared/map', markers: @markers %>
<div class="container-address">
  <div id="address-input-box">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :address,
      params[:address],
      class: "form-control", id: "address-input",
      placeholder: "Enter address"
      %>
    <% end %>
  </div>
  <div id="btn-goo-wrapper" class="hidden">
    <%= link_to "CONFIRM", new_booking_path(address: params[:address]), id: "btn-goo"%>
  </div>
</div>
