<%= link_to "Confirm Address", new_booking_path(address: params[:address]), class: "btn btn-primary"  %>


<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :address,
  params[:address],
  class: "form-control",
  placeholder: "Enter address"
  %>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
>
</div>

