<div class="welcome-top">

<h1 class="text-black"> Welcome</h1>
<h2 class="text-black">Wash some cars and earn some money!</h2>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(170,1,1,0.2) 0%, rgba(0,36,61,0.2) 50%), url('http://bizone.biz/38-thickbox_default/car-wash.jpg');">
  <div class="banner-content">
    <p class="text-white">
      <span id="banner-typed-text"></span>
    </p>

    <form action="/" class="form-inline">
      <input type="text" name="address" class="form-control" placeholder="Juan">
      <input type="text" name="address" class="form-control" placeholder="Fernandez">
      <input type="text" name="address" class="form-control" placeholder="juanf@outlook.com">
      <input type="text" name="address" class="form-control" placeholder="*********">
      <!-- <button class="btn btn-default" type="submit">Become a washer</button> -->
    </form>
    <br>
    <br>
    <div class="btn-success btn-block btn-welcome col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
    <h2>Become a washer</h2>
    <p>(That easy)</p>
    </div>
  </div>
</div>
