<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%), url('http://bizone.biz/38-thickbox_default/car-wash.jpg');">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-right" style="border-radius: 5px; background-color: rgba(250,250,250,0.7); padding: 25px">
    <div style="color:grey; font-size: 40px">
    Fill the form and start winning money right now!
    </div>
    <form action="/">
      <input type="text" name="first_name" class="form-control" placeholder="Juan">
      <input type="text" name="last_name" class="form-control" placeholder="Fernandez">
      <input type="text" name="photo" class="form-control" placeholder="Photo">
      <input type="text" name="email" class="form-control" placeholder="juanf@outlook.com">
      <input type="text" name="password" class="form-control" placeholder="*********">
<br>
      <%= link_to "Confirm registration!", welcome_confirmation_path, {:style=>'color:grey; background-color:#a6b1c1; border-radius: 10px; padding: 10px'}%>
    </form>
  </div>
</div>


<%#= link_to "Confirm Address", new_booking_path(address: params[:address]), class: "btn btn-primary"  %>

<%#= form_tag root_path, method: :get do %>
  <%#= text_field_tag :address,
  params[:address],
  class: "form-control",
  placeholder: "Enter address"
  %>
<%# end %>



<%#= simple_form_for @user do |f| %>
  <%#= f.error_notification %>

  <!-- <div class="form-inputs"> -->
    <%#= f.input :email, required: true, autofocus: true %>
    <%#= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%#= f.input :password_confirmation, required: true %>
  <!-- </div> -->

  <!-- <div class="form-actions"> -->
    <%#= f.button :submit, "Sign up" %>
  <!-- </div> -->
<%# end %>

<%#= render "devise/shared/links" %>
