<!-- <div class="welcome-top">
-->
<!-- </div> -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%), url('http://bizone.biz/38-thickbox_default/car-wash.jpg');">

  <div class="banner-content">
    <h2 class="text-black">Wash cars and earn money!</h2>
    <div class="btn-success btn-welcome col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
      <%= link_to "Start now!", welcome_registration_path%>
    </div>
  </div>

</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%), url('https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e5794cb498a03967e0d6be4614db782&auto=format&fit=crop&w=889&q=80');height: 75vh;">

  <div class="banner-content">
    <ul>
      <p>
      <i class="fas fa-users"></i> Be proud of being part of a comunity of washers recognized in the world.
      <br>
      <br>
      <i class="fas fa-hand-holding-usd"></i> Feel rewarded. You will earn money and be payd on time, with lots of benefits.
      <br>
      <br>
      <i class="fas fa-parachute-box"></i> Be supported. We will be with you at any time you need us.
      <br>
      <br>
      <i class="fas fa-clock"></i> Feel free. You choose when to start and end your day: no fixed work schedules
      </p>
    </ul>
  </div>

</div>




<div class="flex-container">

  <div class="row" style="justify-content: space-around; border: 3px solid red; display: flex; margin: 15px">

    <div style="background-image: url('https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29a17c0d14e2ef6c46b93628fa033371&auto=format&fit=crop&w=500&q=80')" class="col-xs-4" style="box-shadow: 3px 3px black; ;background-size:cover;">
    </div>

    <div class="col-xs-8" style="display:flex; text-align: center; align-items: center; height: 300px; width: 300px">
      <div>
      <h3>Working in Washr has completly changed my life!</h3>
      <p>Pedro, Buenos Aires</p>
      </div>
    </div>

  </div>


  <div class="row" style="justify-content: space-around; border: 3px solid red; display: flex; margin: 15px">

    <div style="background-image: url('https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d34b70c76d7e81532a3f922ba31f3a5f&auto=format&fit=crop&w=500&q=80')" class="col-xs-4" style="box-shadow: 3px 3px black; ;background-size:cover;">
    </div>

    <div class="col-xs-8" style="display:flex; text-align: center; align-items: center; height: 300px; width: 300px">
      <div>
      <h3>Working in Washr has completly changed my life!</h3>
      <p>José, Buenos Aires</p>
      </div>
    </div>

  </div>
</div>

