.wrapper {
  margin-top: 70px;
}

.box-inline-title {
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px;
  width: 300px;
  align-items: center;
  margin: auto;
  p {
    text-align: center;
    margin: auto;
    color: white;
  }
}

.icon-box-title {
  margin: auto;
  align: center;
  width: 50px;
}
