.button-rounded {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #80d0c7;
  font-size: 15px;
  background: #FFF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  // width: 248px;
  width: 100%;
  align-items: center;
}

.button-opacity {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.width-100 {
  width: 100%;
}

.button-position {
  position: relative;
  top: 59px;
}

.center {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

.btn-modal {
  border: none;
  outline: none;
}
