.input-sign-up input {
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  background: rgba(255,255,255,0.5);
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  border: 0;
}

.input-sign-up ::placeholder {
    color: white;
  }
