.modal-background {
  background-color: #7d8ded;
  background-image: linear-gradient(160deg, #7d8ded 1%, #0d3b61 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: center;
}

.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-title {
  color: white
}